In [ ]:
import pandas as pd 

# https://scikit-learn.org/stable/modules/generated/sklearn.datasets.load_diabetes.html
from sklearn.datasets import load_diabetes

data = load_diabetes()
df = pd.DataFrame(data.data, columns=data.feature_names)

In [ ]:
df.head()

# Lambda Functions

Quick, throw away (**anonymous function**)

In [ ]:
def double(x):
    return x*2

In [ ]:
lambda x : x*2

## Give it a name

In [ ]:
double_me = lambda x: x/2
double_me('a')

In [ ]:
add_me = lambda x,y : 1
add_me(1,5)

## Use it for a mapping

In [ ]:
df['age'].head()

In [ ]:
type(df['age'])

In [ ]:
my_result = df['age'].map(lambda x: x*1000)
my_result.head()

### Conditionals with the mapping

In [ ]:
## df['text'].map(lambda x: 'Good' if any([word in x.lower() for word in ['awesome', 'love', 'good', 'great']]) else 'Bad').head()
df['age'].map(double).head()

In [ ]:
df.head()

## Example

In [ ]:
df['sex'] = df['sex'].map(lambda x: 'female' if x < 0 else 'male' )

# Aggregation

In [ ]:
bmi = df['bmi']

display(bmi.count())
display(bmi.min())
# display(bmi.count())

In [ ]:
display(bmi.max())

In [ ]:
df.groupby('sex').max()

In [ ]:
df.groupby('sex')['bmi'].count()

## Multiple Aggregations

In [ ]:
df_group = df.groupby(['sex','bp'])
df_group.max()

### Unstacking

![](https://github.com/learn-co-students/dsc-1-04-08-pivot-tables-with-pandas-online-ds-sp-000/raw/master/unstack.png)

In [ ]:
df_group = df.groupby(['sex','bp']).max()
df_group.head()

In [ ]:
# Unstack as the 
df_group.unstack('sex')

# Combining DataFrames

* **Outer Join** - returns all records from both tables.

* **Inner Join** - returns only the records with matching keys in both tables.

* **Left Join** - returns all the records from the left table, as well as any records from the right table that have a matching key with a record from the left table.

* **Right Join** - returns all the records from the right table, as well as any records from the left table that have a matching key with a record from the right table.